@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-10rem);
    }
  
    50% {
      transform: translateX(3rem);
    }
  
    100% {
      opacity: 1;
      transform: translate(0) rotate(180deg);
    }
  }
  
  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(10rem);
    }
  
    50% {
      transform: translateX(-3rem);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  
  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(10rem);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }