*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    // this defines what 1rem is e.g browser default font size is 16px if we divide that by 10 we get
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}